// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #2e3e4d;
@brand-primary-dark:    darken(#2e3e4d, 48%);

@brand-secondary:       #73c075;
@brand-secondary-dark:  #47a447;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
