/*----------------------
  navbar (on scroll)
  ----------------------*/

.navbar-fixed {
  position: fixed;
  top: -48px;
  z-index: 1030;
  opacity: 0.96;
}

.body-top {
  margin-bottom: 44px;
}

.form-after {
  text-align: right !important;
  .btn-sub {
    background: @brand-primary !important;
    border: 1px solid @brand-primary !important;
    color: #fff !important;
    .secondary-background();
  }
}

/*----------------------
  navbar
  ----------------------*/

#form-before {
  text-align: right;
  .btn-sub {
    background: #fff;
    border: 1px solid @gray-light-ish;
    color: #000;
    &:hover {
      .transition(1s);
      background: @brand-primary;
      border: 1px solid @brand-primary;
      color: #fff;
    }
  }
}

.form-control {
  display: inline;
  width: inherit;
}

nav {
  width: 100%;
  color: #bbb;
  background: #fff;
  font-weight: bold;
  letter-spacing: 0.025em;
  border-bottom: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding-right: 48px;
}

nav ul li {
 display: inline-block;
 padding: 0 3em 0 3em;
 line-height: 3em;
}

/*----------------------
  hero
  ----------------------*/
#hero {
  background: @brand-primary;
  h1, h2 {
    color: #fff;
  }
}
