/*----------------------
  navbar (scroll-bar)
  ----------------------*/

.navbar-fixed {
  position: fixed;
  top: -48px;
  z-index: 1030;
  opacity: 0.96;
}

.body-top {
  padding-top: 48px;
}

.form-right {
  text-align: right !important;
  .transition(5s);
}

/*----------------------
  navbar
  ----------------------*/

#form-center {
  text-align: center;
}

nav {
  width: 100%;
  color: #bbb;
  background: #fff;
  font-weight: bold;
  letter-spacing: 0.025em;
  border-bottom: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding-right: 48px;
}

nav ul li {
 display: inline-block;
 padding: 0 3em 0 3em;
 line-height: 3em;
}
